#valeurs {
    background-color: #FFF;
    background-image: url('bg-leaf.svg');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: 100% -20%;
    display: flex;
}

#valeurs .column-valeurs-1,
#valeurs .column-valeurs-2 {
    width: 50%;
    height: 100%;
}

#valeurs .column-valeurs-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#valeurs .column-valeurs-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#valeurs h2 {
    font-family: 'Barlow', sans-serif;
    font-size: calc(40 * var(--res));
    text-transform: uppercase;
    font-weight: 500;
}

#valeurs h2::after {
    content: '';
    display: block;
    width: 20%;
    height: 1px;
    background-color: #FFF;
    margin: calc(15 * var(--res)) 0 calc(25 * var(--res));
}

#valeurs p {
    font-family: 'Poppins', sans-serif;
    font-size: calc(22.5 * var(--res));
    font-weight: 400;
}

#valeurs span {
    font-weight: 600;
}

#valeurs .container-performance {
    width: 75%;
    position: relative;
}

#valeurs .valeurs-performance {
    background-color: #A2C3A2;
    position: relative;
    color: #FFF;
    padding: 1.5vw 2.5vw;
    z-index: 2;
}

#valeurs .container-performance::before{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -10px;
    left: -10px;
    border: 2px solid #A2C3A2;
    z-index: 1;
}

#valeurs .container-fiabilite {
    width: 75%;
    position: relative;
}

#valeurs .valeurs-fiabilite {
    background-color: #649B64;
    position: relative;
    color: #FFF;
    padding: 1.5vw 2.5vw;
}

#valeurs .container-fiabilite::before{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -10px;
    right: -10px;
    border: 2px solid #649B64;
}

#valeurs .container-experience {
    width: 75%;
    position: relative;
}

#valeurs .valeurs-experience {
    background-color: #466D46;
    position: relative;
    color: #FFF;
    padding: 1.5vw 2.5vw;
}

#valeurs .container-experience::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -10px;
    left: -10px;
    border: 2px solid #466D46;
}

#valeurs .valeurs-performance::after{
    content: '';
    display: block;
    position: absolute;
    background: url('decoration-leaf-1.svg');
    background-repeat: no-repeat;
    background-size: 65%;
    height: calc(175 * var(--res));
    width: calc(550 * var(--res));
    top: 20%;
    right: calc(-570 * var(--res));
}

#valeurs .valeurs-fiabilite::after{
    content: '';
    display: block;
    position: absolute;
    background: url('decoration-leaf-2.svg');
    background-repeat: no-repeat;
    background-size: 65%;
    height: calc(320 * var(--res));
    width: calc(250 * var(--res));
    top: 30%;
    left: calc(-230 * var(--res));
    transform: rotate(15deg);
}

@media screen and (max-width: 1150px) {
    #valeurs .valeurs-performance::after {
        top: 25%;
    }
    #valeurs .valeurs-fiabilite::after {
        width: calc(200 * var(--res));
        left: calc(-180 * var(--res));
        top: 50%;
    }
}

@media screen and (max-width: 900px) {
    #valeurs {
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        background-size: 50%;
        background-position: 100% 0%;
    }
    #valeurs .valeurs-fiabilite::after,
    #valeurs .valeurs-performance::after,
    #valeurs .valeurs-experience::after,
    #valeurs .container-fiabilite::before,
    #valeurs .container-performance::before,
    #valeurs .container-experience::before {
        display: none;
    }
    #valeurs .column-valeurs-1,
    #valeurs .column-valeurs-2 {
        width: 100%;
        height: auto;
    }
    #valeurs .valeurs-fiabilite,
    #valeurs .valeurs-performance,
    #valeurs .valeurs-experience {
        margin-top: 15px;
        border-radius: 5px;
        padding: 2vh 3vh;
    }
    #valeurs .container-fiabilite,
    #valeurs .container-performance,
    #valeurs .container-experience {
        display: flex;
        width: 90%;
    }
    #valeurs p {
        font-size: 1.75vh;
    }
    #valeurs h2 {
        font-size: 2.75vh;
    }
    #valeurs .container-fiabilite {
        margin-bottom: 10px;
    }
}